<div class="box">
    <h3>Countdown Input</h3>
    <form [formGroup]="timerForm">
        <div>
            <label for="timerLimit">Enter Timer Limit </label>
            <input type="text" formControlName="timerLimit" id="timerLimit" [attr.disabled]="timerLog.length ? true: null">
            <span *ngIf="timerForm.get('timerLimit').touched && !timerForm.get('timerLimit').valid"> Number only and greater than 0.</span>
        </div>
        <div>      
            <button (click)="startAndPause()" [disabled]="!timerForm.get('timerLimit').valid">Start/Pause</button>
            <button (click)="reset()" [disabled]="!timerForm.get('timerLimit').valid">Reset</button>
        </div>
    </form>
    
    <div class="log">
        <ul>
            <li *ngFor="let pauseAt of utils.filterLog(timerLog, 2)">Paused at {{ pauseAt.counter }} </li>
        </ul>
    </div>
</div>
