<div class="card-container">
    <h3>This is a angular demo app using different concepts like Component, Decorators, Services, Directive, Reactive Form, Observable and others. So click on bellow boxes to see the demo.  </h3>
    <div class="card" routerLink="routeOne">
        <span>Route-1 :  To show the demo of nested Component</span>
    </div>
    <div class="card" routerLink="routeTwo">
        <span>Route-2:  An e-commerce category page  which displays  products  in  a page  with  Grid View / List View  and  with Price filters  as drop downs  </span>
    </div>
    <div class="card" routerLink="routeThree">
        <span>Route-3 : A count down timer page  with  four  sibling components by using Input  and Output   Decorators  
            <ul>
                <li>Component-1 – Display the count down timer </li>
                <li>Component-2  -  Takes  input  of  Timer limit  with  Start/Pause and reset  functionality</li>
                <li>Component-3  -  Logs  the time stamps   Button clicks  of  start or pause  or reset </li>
                <li>Component-4  -  Keeps  a count  of   Clicks of   Start  and Pause  functionality</li>
            </ul>   
               
        </span>
    </div>
    <div class="card" routerLink="routeFour">
        <span>
            Route-4 : A count down timer page  with  four  sibling components  by using Service
            <ul>
                <li>Component-1 – Display the count down timer </li>
                <li>Component-2  -  Takes  input  of  Timer limit  with  Start/Pause and reset  functionality</li>
                <li>Component-3  -  Logs  the time stamps   Button clicks  of  start or pause  or reset </li>
                <li>Component-4  -  Keeps  a count  of   Clicks of   Start  and Pause  functionality</li>
            </ul>   
        </span>
    </div>
    <div class="card" routerLink="routeFive">
        <span>Route-5 :   A  Simple  Student  marks  table  dynamically  populated  from a API or JsON. Populate the Headings by using the Keys of the Data Object.     Upon first click on the respective heading,   sort  the data in Ascending ,   Upon second click  sort the data in descending ,  upon  the third click  reset the data  to initially received data</span>
    </div>
    <div class="card" routerLink="routeSix">
        <span>
                Route-6:   Dynamically  create  div’s on the page with 200x 200 dimensions.  Each div  will have a button inside it.  If I click on the button  of 10th div  should  show alert  Button ‘10’ is clicked.    As and when I scroll down,   it should  load the  divs  dynamically
        </span>
    </div>
    
</div>
